/* * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
} */

body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: stretch;
	font-size: 16px;
	line-height: 1.3em;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.left-side {
	width: 40vw;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;
	background: url(images/sebastien-goldberg-1Rd7PW7ad3I-unsplash.jpg);
	background-size: cover;
	background-color: rgb(101, 115, 174);
}

.logo-banner {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	height: 15vh;
	margin-top: 20vh;
	font-size: 4em;
	font-weight: bold;
	color: white;
}

.logo-image {
	max-height: 90%;
}

.logo-banner, 
.logo-credit {
	background-color:  rgba(0, 0, 0, 0.2);
}

.logo-credit {
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-size: 12px;
}

.right-side {
	width: 60vw;
	height: 100vh;
	background-color: rgba(149, 162, 208, 0.5);
	display: flex;
	flex-direction: column;
	align-items: stretch; 
	justify-content: flex-start;
}

.intro {
	/* display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start; */
	height: 35vh;
	width: 80%;
	/* padding-bottom: 0; */
	font-size: large;
	font-weight: 700;
	font-size: 20px;
}

.intro-text {
	padding: 10% 5%;
}

.form {
	/* padding: 10%; */
	/* display: flex; */
	/* flex-direction: column; */
    /* justify-content: stretch; */
	/* align-items: stretch; */
	/* height: 35vh; */
	background-color: #ffffffc5;
	box-shadow: 3px 3px 3px 3px #00000030;
}

.form p {
	font-size: 24px;
	font-weight: 600;
	padding-left: 5%;
	/* margin: 10%; */
	/* margin-bottom: 0; */
}

form {
	/* margin: 10%; */
}

.form-row {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding: 1em;
}

.form-row label {
	font-size: 14px;
}

.form-field {
	display: flex;
	flex-direction: column;
	padding: 0 2em;
}

.foot {
	/* padding: 10%; */
	/* height: 30vh; */
	/* display: flex; */
	/* flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start; */
}

.foot-content {
	padding: 5%;
}

button {
	background-color: rgb(113, 171, 219);
	color: white;
	font-weight: 800;
	font-size: 16px;
	border-radius: 8px;
	border: none;
	padding: 1em 3em;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}